@import '../../styles/settings.scss';
.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.button {
    border: none;
    cursor: pointer;
    background-color: white;
    font-size: 16px;
    :hover{
        transform: scale(1.5);
        transition: 1s;
    }
}

.isActive {
    color: $color-warning;
}